#btnUpdate,#btncalculate{
//-fx-background-color: #50EF8F;
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#f9cc77, #fafafa, #f9cc77);
}#btnUpdate:hover,#btncalculate:hover{
 //-fx-background-color: #50EF8F;
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#a57f38, #fafafa, #a57f38);
}#btnUpdate:pressed,#btncalculate:pressed{
  //-fx-background-color: #50EF8F;
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#86672a, #fafafa, #86672a);
}
#btnAdd{
   //-fx-background-color: #50EF8F;
       -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#fcd478, #fafafa, #fcd478);
}#btnAdd:hover{
    //-fx-background-color: #50EF8F;
        -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#f3ab11, #fafafa, #f3ab11);
}#btnAdd:pressed{
    //-fx-background-color: #50EF8F;
         -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#815702, #fafafa, #815702);
 }
#btnDelete,#btnfinish{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#efca75, #ffffff, #efca75);
}#btnDelete:hover,#btnfinish:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#b29752, #ffffff, #b29752);
 }#btnDelete:pressed#btnfinish:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#917431, #ffffff, #917431);
  }
#btnClear,#btnBill{
//-fx-background-color: #F8EA6D;
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#7f5c02, #ffffff, #7f5c02);
}#btnClear:hover,#btnBill:hover{
 //-fx-background-color: #F8EA6D;
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#60450b, #ffffff, #60450b);
 }#btnClear:pressed,#btnBill:pressed{
  //-fx-background-color: #F8EA6D;
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#4c3b13, #ffffff, #4c3b13);
  }

#btncalculate{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#cfbd92, #ffffff, #cfbd92);
}#btncalculate:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#b3a279, #ffffff, #b3a279);
}#btncalculate:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#8a7855, #ffffff, #8a7855);
}
#btndiplay,#btnnewload{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100%, #d9caaa,#ffffff, #d9caaa);
}#btndiplay:hover,#btnnewload:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#ab9c79, #ffffff, #ab9c79);
}#btndiplay:pressed,#btnnewload:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#827656, #ffffff, #827656);
}
#btnNew,#btnsearch,#btnaddcart,#btndelivery{
    -fx-background-color: linear-gradient(from 0% 10% to 95% 100%,#ba9b54, #ffffff, #ba9b54);
}#btnNew:hover,#btnsearch :hover,#btnaddcart:hover,#btndelivery:hover{
     -fx-background-color: linear-gradient(from 0% 10% to 95% 100%,#a68a47, #ffffff, #a68a47);
}#btnNew:pressed,#btnsearch:pressed,#btnaddcart:pressed,#btndelivery:pressed{
      -fx-background-color: linear-gradient(from 0% 10% to 95% 100% ,#8f763b, #ffffff, #8f763b);
}

.dark {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
